---
import { Icon } from "astro-icon/components";
import ThemeSwitcher from "../components/theme-switcher.astro";
import type { NavItem } from "../types";

const navItems: Array<NavItem> = [
  { title: "Home", url: "/" },
  { title: "Projects", url: "/under-construction" },
  { title: "Blog", url: "/under-construction" },
  { title: "About", url: "/under-construction" },
  { title: "Resume", url: "/resume.pdf" },
];
---

<header
  id="page-header"
  class="absolute top-0 z-20 flex w-full items-center justify-between border-b border-transparent px-6 md:px-8 py-4"
>
  <a class="flex items-center gap-3 md:gap-4 hover:!text-default" href="/">
    <h1 class="sr-only">AhmadMtr</h1>
    <img
      src="/pfp.png"
      class="w-10 h-10 sm:w-12 sm:h-12 outline outline-2 rounded-xl outline-ctp_overlay1"
      alt="Ahmadmtr's Logo"
    />
    <h2 class="font-sans font-bold text-sm sm:text-base">AhmadMtr</h2>
  </a>

  <div>
    <div class="flex items-center gap-4 sm:gap-12 pr-2">
      <nav class="hidden sm:block">
        <ul class="flex items-center gap-6 md:gap-10 text-ctp_txt1 font-mono">
          {
            navItems.map(({ title, url }) => (
              <li>
                <a
                  class="text-sm font-base hover:underline hover:text-ctp_sky"
                  href={url}
                >
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <button
        id="open-nav-button"
        type="button"
        class="btn md:hidden"
        aria-label="Navigation"
      >
        <Icon name="mdi:menu" class="size-6" />
      </button>
      <!-- <ThemeSwitcher /> -->
    </div>
    <div id="menu-modal" class="modal hidden" aria-hidden="true">
      <div class="fixed inset-0 bg-default px-8 py-4 text-default">
        <div class="space-y-4" role="dialog" aria-modal="true">
          <header class="text-right">
            <button
              id="close-nav-button"
              type="button"
              class="btn"
              aria-label="Close navigation"
            >
              <Icon name="mdi:close" class="size-8" />
            </button>
          </header>
          <div class="flex justify-center">
            <img
              src="/pfp.png"
              class="w-16 h-16 outline outline-2 rounded-xl outline-ctp_overlay1"
              alt="Ahmadmtr's Logo"
            />
          </div>
          <nav>
            <ul class="flex flex-col">
              {
                navItems.map(({ title, url }) => (
                  <li>
                    <a class="block py-4 text-center text-xl" href={url}>
                      {title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  import MicroModal from "micromodal";
  import invariant from "tiny-invariant";

  const menuModalId = "menu-modal";

  const header = document.querySelector("#page-header") as HTMLElement;
  const page = document.documentElement;
  const menu = document.querySelector(`#${menuModalId} ul`);
  const openNavButton = document.querySelector("#open-nav-button");
  const closeNavButton = document.querySelector("#close-nav-button");

  invariant(header, "header should not be null");
  invariant(menu, "menu should not be null");
  invariant(openNavButton, "openNavButton should not be null");
  invariant(closeNavButton, "closeNavButton should not be null");

  const openMenu = () => {
    MicroModal.show(menuModalId, { disableScroll: true });
  };

  const closeMenu = () => {
    MicroModal.close(menuModalId);
  };

  openNavButton.addEventListener("click", openMenu);
  closeNavButton.addEventListener("click", closeMenu);

  document.addEventListener("scroll", () => {
    const d = page.clientHeight - page.scrollTop - header.offsetHeight;
    header.classList.toggle("fixed-header", d < 0);
  });

  menu.addEventListener("click", (event) => {
    if ((event.target as HTMLElement).tagName === "A") {
      closeMenu();
    }
  });
</script>

<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .fixed-header {
    @apply fixed bottom-auto top-0;
    @apply border-default bg-ctp-mantle bg-opacity-50 backdrop-blur-md text-default;
  }
  .modal.is-open {
    @apply block;
  }
</style>
